* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  color: brown;
  margin-bottom: 5px;
}
input {
  margin-bottom: 5px;
}
.container {
  display: flex;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  flex-direction: column;
  text-align: center;
}
